html, body {
	height: 100%;
	margin: 0;
	background-color: white;
	cursor: pointer;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
	overflow: hidden;
}

rect {
	transition-duration: 1s;
}